################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessLayer/bin/Debug/net8.0
/BusinessLayer/obj
*.vspscc
/Data/bin/Debug/net8.0
/Data/obj
/Domain/bin/Debug/net8.0
/Domain/obj
*.vssscc
/WebUI/bin/Debug/net8.0
/WebUI/Logs
/WebUI/obj
/WebUI/wwwroot/error_logs
*.bak
*.user
