@model ErrorViewModel
@{
    ViewData["Title"] = "Information";
}

<h1 class="text-info">Information</h1>

@if (ViewBag.Message != null)
{
     <div class="alert alert-info align-content-center" role="alert">
        <p>@ViewBag.Message</p>
    </div>
}

